@model ProcessTracing.Models.TestModel

<script src="~/Scripts/Chart.js"></script>
<div id="charts" class="siteContent chartsPage">

    <div class="row">
        <div class="col-sm">
            <div class="product_price">
                <span class="price-tax"><b>Listy z Twojej tablicy</b></span>
                <br />
                <ul>
                    @foreach (var item in Model.listOfCards)
                    {
                        <li>@item</li>
                    }
                </ul>
            </div>
        </div>

        <div class="col-sm">
            <div class="product_price">
                <span class="price-tax"><b>Ilość użytkowników przypisanych do tablicy</b></span>
                <br>
                <h1 class="price">@Model.boardMembertsQty</h1>
            </div>
        </div>

        <div class="col-sm">
            <div class="product_price">
                <span class="price-tax"><b>Ilość kart przypisanych do użytkowników</b></span>
                <br>
                <ul>
                    @foreach (var item in Model.usersCardsQty)
                    {
                        <li>@item.MemberName ---- @item.CardQuantity</li>
                    }
                </ul>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <canvas id="pieChart"></canvas>
            <script>
                new Chart(document.getElementById("pieChart"), {
                    type: 'pie',
                    data: {
                        labels: [@foreach (var item in Model.listsCardsQty){<text>"</text>@item.ListName<text>",</text>}],
                        datasets: [{
                                label: "Population (millions)",
                            backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"],
                            data: [@foreach (var item in Model.listsCardsQty){<text>"</text>@item.CardQuantity<text>",</text>}]
                        }]
                    },
                    options: {
                        responsive: true,
                        title: {
                            display: true,
                            text: 'Ilość kart przypisanych do użytkowników tablicy'
                        }
                    }
                });
            </script>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="product_price">
                <span class="price-tax"><b>Lista z największą ilością kart </b></span>
                <br>
                <h1 class="price">@Model.mostCardsListName - @Model.mostCardsListQty</h1>
            </div>
        </div>

        <div class="col-sm">
            <div class="product_price">
                <span class="price-tax">Data i czas stworzenia listy <b>@Model.listCreateName</b></span>
                <br>
                <h1 class="price">@Model.listCreateDate</h1>

            </div>
        </div>
        <div class="col-sm">
            <div class="product_price">
                <span class="price-tax"><b>Ilość kart przypisanych do użytkowników</b></span>
                <br>
                <ul>
                    @if (Model.emptyLists.Count == 0)
                    {
                        <p>Brak pustych list</p>
                    }
                    else
                    {
                        foreach (var item in Model.emptyLists)
                        {
                            <li>@item</li>
                        }
                    }

                </ul>

            </div>
        </div>




    </div>

    <!--
    <div class="row">
        <div class="col-sm">
            <div class="product_price">
                <h1 class="price"></h1>
                <span class="price-tax">Lista z największą ilością kart</span>
                <br>
            </div>
        </div>
        <div class="col-sm">
            <div class="product_price">
                <h1 class="price"></h1>
                <span class="price-tax">Ilość użytkowników przypisanych do karty <b></b></span>
                <br>
            </div>
        </div>
        <div class="col-sm">
            <div class="product_price">
                <h1 class="price"></h1>
                <span class="price-tax">Data i czas utworzenia karty <b></b></span>
                <br>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm">
            <div class="product_price">
                <ul>

                </ul>
                <span class="price-tax">Listy na tablicy <b></b></span>
                <br>
            </div>
        </div>
        <div class="col-sm">
            <div class="product_price">
                <h1 class="price"></h1>
                <span class="price-tax">Ilość wykonanych akcji na karcie <b>/b></span>
                <br>
            </div>
        </div>
        <div class="col-sm">
            <div class="product_price">
                <ul>

                </ul>
                <span class="price-tax">Puste listy z tablicy <b></b></span>
                <br>
            </div>
        </div>
    </div>

    <div class="row ">
        <div class="col chart" style="max-height:80% !important;">
            <canvas id="lineChart" class=""></canvas>
            <script>
                new Chart(document.getElementById("lineChart"), {
                    type: 'line',
                    data: {
                        labels: [],
                        datasets: [{
                                data: [],
                            label: "Ilość kart na liscie",
                            borderColor: "#3e95cd",
                            fill: false
                        }
                        ]
                    },
                    options: {
                        title: {
                            responsive: true,
                            display: true,
                            text: 'Ilość kart w listach z tablicy '
                        }
                    }
                });
            </script>
        </div>
    </div>
        -->
</div>